body {
    background-color: #fff; /* Establece el color de fondo predeterminado */
    color: #000; /* Establece el color de texto predeterminado */
  }
  
  body.dark-mode {
    background-color: #222; /* Establece el color de fondo en modo oscuro */
    color: #fff; /* Establece el color de texto en modo oscuro */
  }
  
  #dark-mode-toggle {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 24px;
    padding: 8px;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 9999;
  }
  
  #dark-mode-toggle:focus {
    outline: none;
  }
  